<nav class="navbar navbar-expand-lg navbar-app fixed-top">
    <div class="container-lg py-1 px-lg-4">
        <a class="navbar-brand d-flex align-items-center gap-2" routerLink="/home" (click)="close()">
            <img src="./images/logo-GdqARQRt.png" alt="Photography Logo"/>

            <div class="d-flex flex-column lh-1">
                <span class="logo-title fw-bold mb-1">عدسة</span>
                <small class="d-none d-sm-block logo-description">
                    عالم التصوير الفوتوغرافي
                </small>
            </div>
        </a>

        <button class="navbar-toggler text-white border-0" type="button" (click)="toggle()"
            aria-label="Toggle navigation" [attr.aria-expanded]="isOpen">
            <span class="navbar-toggler-icon" style="filter: invert(1)"></span>
        </button>

        <div class="collapse navbar-collapse" [class.show]="isOpen" id="topNav">
            <div class="mx-md-auto mt-3 mt-md-0">
                <div class="nav nav-pills nav-pill-wrap ">
                    <a class="nav-link fw-medium" routerLink="/home" (click)="close()" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }">
                        الرئيسية
                    </a>

                    <a class="nav-link fw-medium" routerLink="/blog" (click)="close()" routerLinkActive="active">
                        المدونة
                    </a>

                    <a class="nav-link fw-medium" routerLink="/about" (click)="close()" routerLinkActive="active">
                        من نحن
                    </a>
                </div>
            </div>

            <div class="d-flex align-items-center gap-2 mt-3 mt-md-0">
                <button class="icon-btn d-flex justify-content-center align-items-center" type="button" aria-label="بحث">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>

                <a class="btn read-btn fw-bold text-white border-0" routerLink="/blog" (click)="close()">
                    ابدأ القراءة
                </a>
            </div>
        </div>
    </div>
</nav>